@model Knowledgebase.Models.Framework

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Framework</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Plataforma" class="control-label">Plataforma Selecionada:</label>
                <select asp-for="Plataforma" class="form-control" asp-items="ViewBag.Plataforma"></select>
                <span asp-validation-for="Plataforma" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Busca" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
