@using KnowledgeBase.Models
@model IEnumerable<KnowledgeBase.Models.Framework>

@{
    ViewData["Title"] = "QuerySolutionChooseFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var framework = Model;
    int x = 0;
}

<h1>Query Solution Choose: Framework</h1>

<p>
    <a asp-action="Create">Criar Nova</a>

    @using(Html.BeginForm("Id", "Framework", FormMethod.Get))
    {   <fieldset>
            <legend>Framework</legend>
                @Html.DropDownList("")
            <p >
                <input type="submit" value="Submit" />
        </p>
    </fieldset>
 }
 